
body {
    color: #eee;
}

label {
    cursor: pointer;
}

#image-label-content {
    background-color: rgb(255, 53, 154);
}

#overlay {
    transition: opacity 0.1s;
}


#loading {
    display: block;
    background-color: #000a;

    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s;
    transition-delay: 0.3s; /* wait before showing loading screen (do not display at all for small images) */
}
#loading.hidden {
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

#overlay {
    background-color: #000a;
}

a {
    color: #ddd;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 53, 154);
}

a:active { 
    color: #fff;
}

#title a {
    color: #888;
}

#title a:hover {
    color: #ddd;
}

.toggle-buttons > * {
    background-color: #555;
}
input:checked + label {
    background-color: rgb(255, 53, 154);
}

.path-stroke {
    stroke: black;
    stroke-width: 5px;
}
.path-fill {
    stroke: white;
    stroke-width: 3px;
}

#histogram-path {
    fill: transparent;
    stroke: #fff6;
    stroke-width: 2px;
}

#control-points circle {
    stroke-width: 0.001;
    stroke: black;
    fill: white;
}

#exposure-checkbox:disabled {
    opacity: 0.3;
}