
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Roboto Condensed', "Roboto", "Ubuntu", "Cantarell", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    color: #eee;
}

body > * {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
}

#overlay {
    width: 20vw;
    min-width: 200px;
    max-width: 60vw;

    resize: horizontal;
    overflow-x: hidden;

    overflow-y: auto;
}

body.with-content #overlay:not(:hover) {
    opacity: 0.4;
}

body:not(.with-content) .content-option {
    display: none;
}

#image-label {
    display: grid; 
    width: 100%;
}

body.with-content #image-label:not(:hover) #image-label-content {
    display: none;
}
#image-label > * {
    width: 100%;
    height: 100%;
}

#curve-container {
    padding: 64px;
}

.toggle-buttons {
    display: inline;
}
.toggle-buttons input {
    display: none;
}
.toggle-buttons label {
    padding: 6px;
}

#overlay {
    padding: 24px;
}
#overlay > * {
    width: 100%;
    margin: 6px;
    margin-top: 32px;
}

#overlay input[type="range"] {
    width: 100%;
}

#toggle-hide {
    position: absolute;
    right: 0;
    top: 10px;
}

#axes {
    padding: 4px;
    line-height: 2.5em;
}

#loading {
    text-align: center;
    vertical-align: middle;
    padding-left: 40vw;
    padding-right: 40vw;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

label input {
    display: none;
    border: none;
}

.hidden {
    display: none;
}

#image-label-content {
    padding: 12px;
}

#original {
    width: 100%;
    height: auto;
}
